*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif;
    font-style: normal;
    color: black;
}

.logo-s{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 50px;
  height: 45px;
}


.hero-h1{
    font-weight: 500;
    font-size: 150px;
    
}

.hero-p{
    font-weight: 100;
    font-size: 30px;
}

.form-control{
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.bg-img{
    background-image: url('/static/images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgba(186, 202, 188, 0.3),rgba(75, 111, 74, 0.538));

}


.hero-section{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;  
}

h2{
  font-size: 40px;
}

/* Search page */

.nav{
    border-color: rgb(17, 138, 57) !important;

  }
  .nav-link.active{
    border-color: rgb(17, 138, 57) rgb(17, 138, 57) white !important;
  }
  .nav-link{
    font-weight: 700;
  }
  .nav-link:hover{
    border-color: rgba(0, 128, 0, 0.178) !important;
    color: #78bb7b;

  }

  .nav-category{
    color: #1f7323;

  }

  
  .card_image {
    position: relative;
    width: 100%;
    height: 180px;
  }
  
  .card_image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card_price {
    position: absolute;
    padding: 4px 8px;
    bottom: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
  }
  
  .True{
    background-color: #198754;
  }

  .False{
    background-color: #dc3545;
  }



  .card_price span {
    font-size: 12px;
    margin-top: -2px;
  }
  
  .note {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    color:white;
    font-size: 14px;
    font-weight: 700;    

  }

  .flowers{
    background-color: palevioletred;

  }

  .fruit{
    background-color: rgb(112, 195, 216);

  }

  .aromatic{
    background-color: purple;
  }

  
  @media (min-width: 40rem) {
    .cards_item {
      width: 100%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 100%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 350px;
    width: 100%;
    border: none;


  }

  .card_content {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .card_content::-webkit-scrollbar {
    width: 8px;
  }
  
  .card_content::-webkit-scrollbar-track {
    box-shadow: 0;
    border-radius: 0;
  }
  
  .card_content::-webkit-scrollbar-thumb {
    background: #198754;
    border-radius: 15px;
  }
  
  .card_title {
    position: relative;
    margin: 0 0 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .card_title::after {
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #198754;
    content: "";
  }
  
  hr {
    margin: 24px auto;
    width: 50px;
    border-top: 2px solid #198754;
  }
  
  .card_text p {
    margin: 0 0 24px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .card_text p:last-child {
    margin: 0;
  }
  
  .know-more{
    color: rgb(131, 129, 129);
  }
  .know-more:hover{
    color:#198754;
  }
  

.form-label{
  font-size: 22px;
  color:#198754;
}

.previus-img{
  width: 50px;
  height: 50px;
}

.detail-span{
  font-size: 26px;
  padding-left: 5px;
  margin-right: 5px;
}

