{% extends 'App/base.html' %}

{% block title %} planteer {% endblock %}


{% block content %}

    <div class="row g-4">

        <div class="d-flex justify-content-between align-items-center">
            <h2>{% if 'cat' in request.GET %} {{request.GET.cat}} {% else %} All {% endif %}Posts ({{ posts.count }}) </h2>

            <div class="d-flex gap-2">
                <a href="{% url 'App:all_posts_view' %}" class="p-2 ps-3 pe-3 rounded-pill cat  text-decoration-none  {% if 'cat' not in request.GET %} All  {% endif %}">All</a>
                {% for val, key in categories %}
                    <a href="?cat={{val}}" class="p-2 ps-3 pe-3 rounded-pill cat {% if request.GET.cat == val %} {{ val }}{% endif %} text-decoration-none">{{val}}</a>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="row mt-2 g-5">

        {% for post in posts %}
            <div class="col-4">
                <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                    <img src="{{ post.image.url }}"  class="w-100 rounded-4"/>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{post.category}} ">{{ post.category }}</h6>
                    <h6 class="text-muted">{{ post.used_for }}</h6>
                    <h2><a href="{% url 'App:post_detail_view' post.id  %}" class="text-decoration-none">{{post.Name}}</a></h2>
                    
                </div>
            </div>
            
        {% endfor %}

    </div>

    <div class="row mt-5">
        <div class="col">
            {% for page in pages_count %}
                <a href="?page={{page}}{% if 'cat' in request.GET %}&cat={{request.GET.cat}}{% endif %}" class="btn border {% if request.GET.page == page %} btn-primary {% elif page == '1' and 'page' not in request.GET %} btn-primary {% endif %}">{{page}}</a>
            {% endfor %}
        </div>

    </div>

{% endblock %}