{% extends 'App/base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}
    <h1>Contact Us</h1>
    <p>Please use the form below to contact us:</p>
    <form action="{% url 'App:contact_us_view' %}" method="post">
        {% csrf_token %}
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
        <input type="submit" value="Send Message">
    </form>
{% endblock %}
