{% extends 'App/base.html' %}
{% load static %}

{% block title %} planteer{% endblock %}


{% block content %}

    <div class="row g-4">

        <div class="col">
            <div class="d-flex align-items-baseline gap-2">
                <h1>planteer</h1>
                <h4>plant Database For Plants Lovers</h4>
            </div>
            <img src="{% static '/images/b851b268ed939af58cb0211b2cdaf4ab.webp' %}" class="w-100 hero rounded-4" />
        </div>
    </div>

    <hr />
    <div class="d-flex justify-content-between align-items-center">
        <h2>Latest Posts</h2>
        <a class="" href="{% url 'App:all_posts_view' %}">View All</a>
    </div>
    <div class="row g-5">

        {% for post in posts %}
            <div class="col-4">
                <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 h-100">
                    <img src="{{ post.poster.url }}"  class="w-100 rounded-4"/>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{post.category}} ">{{ post.category }}</h6>
                    <h6 class="text-muted">{{ post.eidble}}</h6>
                    <h2><a href="{% url 'App:post_detail_view' post.id  %}" class="text-decoration-none">{{post.Name}}</a></h2>
                    
                </div>
            </div>
            
        {% endfor %}

    </div>

{% endblock %}