{% extends 'App/base.html' %}

{% block content %}
    <div class="row">
        <h1>Update post</h1>
        <div class="col">

            <form action="{% url 'App:update_post_view' post.id %}" method="post" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="title" type="text" placeholder="Title" class="form-control" required minlength="5" value="{{ post.title }}" />
                <textarea name="content" class="form-control" required minlength="20">{{post.content}}</textarea>

                <div class="form-check form-switch">
                    <input name="is_published" value="True" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" {% if post.is_published %} checked {% endif %}>
                    <label class="form-check-label" for="flexSwitchCheckDefault">is publihed</label>
                </div>

                <h5>Choose Image:</h5>
                <img src="{{ post.poster.url }}" class="thumb" />
                <input name="poster"  type="file"  accept="image/*" class="form-control"  />

                <h5>Category</h5>
                <select name="category" class="form-select" required>
                    {% for val, cat in categories %}
                        <option value="{{val}}" {% if post.category == val %} selected {% endif %}>{{cat}}</option>
                    {% endfor %}
                </select>

                <input type="submit" class="btn btn-primary" value="Update" />
            </form>

        </div>


    </div>
{% endblock %}