{% extends 'App/base.html' %}

{% block title %}Login User{% endblock %}

{% block content %}

    <h1>Login</h1>
    {% if msg %}
    {{msg}}
    {% endif %}
    
            <form action="{% url 'user_name:login_user_view' %}" method="post" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <input name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                <input name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />
                <button type="submit">log in</button>


            </form>
       
{% endblock %}