{% extends 'main/base.html' %}
{% block title%} contact {% endblock%}
{% block content %}
{% load static %}
<div class="row">
   
    <div class="col-md-6">
        <form action="{% url 'main:contact_view' %}" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-2">
            {% csrf_token %}
            <div class="row">
                <h2>Contact Us</h2>
                <div class="col-md-6">
                    <h4>First Name</h4>
                    <input name="first_name" type="text" placeholder="Lama" class="form-control" required minlength="2" />
                </div>
                <div class="col-md-6">
                    <h4>Last Name</h4>
                    <input name="last_name" type="text" placeholder="Mobarki" class="form-control" required minlength="2" />
                </div>
            </div>
            <div>
                <h4>Email</h4>
                <a href="mailto:email@example.com" style="display: none;"></a>
               <input name="email" type="email" placeholder="email@example.com" class="form-control" required minlength="5" onclick="document.querySelector('a[href=\'mailto:email@example.com\']').click();" />
            </div>
            <div>
                <h4>Message</h4>
                <textarea name="message" placeholder="Enter ur qusstion or message"  class="form-control" required minlength="10"></textarea>
            </div>
            <input type="submit" class="btn btn-dark" value="Submit" />
        </form>
    </div>
    <div class="col-md-6">
        <img src="{% static 'images/ser.jpg' %}" alt="Contact Image" class="img-fluid rounded-5" />
        {% if request.user.is_superuser %}
          <a class="text-dark text-decoration-none p-5" href="{% url 'main:message_view' %}">show message -></a>
        {%endif%}
    </div>
</div>
{% endblock %}