{% extends "main/base.html" %}
{% load static %}

{% block title %}Planteer{% endblock  %}


{% block content %}

<div class="row mt-4 gap-3">
    {%for plant in plants%}
    <div class="col-3 d-flex flex-column border gap-0">
       <img src="{{plant.image.url}}" class="w-100 mt-2 " >
       <a href="{% url "main:plant_detail" plant.id %}" class="text-dark text-uppercase text-decoration-none"><h2>{{plant.name}}</h2></a>
       <p>{{plant.about}}</p>
       <h6>{{plant.category}}</h6>
    </div>
    {% endfor %}
</div>

<div class="row mt-5">
    <h3>latest comments: </h3>
    <div class="col d-flex gap-3 px-3">
        {% for comment in comments %}
        <div class="d-flex flex-column border border-1 ">
            <h4>{{comment.full_name}}</h4>
            <p>{{comment.content}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}
