{% extends 'main/base.html' %}

{% block content %}

    <h1>Messages from users</h1>

    <div class="row align-items-center">
        <div class="col d-flex flex-column gap-2">
            {% for message in messages %}
                <div class="d-flex flex-column gap-2 border border-1 p-3 rounded-3">
                    <h4>{{ message.first_name }}</h4>
                    <p>{{ message.message }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

