{% extends 'main/base.html' %}

{% block title %} message {% endblock %}


{% block content %}

    <div class="d-flex justify-content-between align-items-center">
        <h2>Latest Message</h2>
        <a class="text-dark text-decoration-none" href="{% url 'main:contact_view' %}">Send message --.</a>
    </div>
    <div class="row g-5">

        {% for contact in contacts %}
            <div class="col-4">
                <div class="d-flex flex-column gap-2 border border-1 shadow p-2 rounded-4 h-100">
                    
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{contact.first_name}}  {{contact.last_name}} ">{{contact.first_name}} {{contact.last_name}}  </h6>
                   
                    <h4 class="p-0">{{contact.email}}</h4>
                    <h4 class="p-0">{{contact.message}}</h4>
                    
                </div>
            </div>
            
        {% endfor %}

    </div>

{% endblock %}