{% extends 'main/base.html' %}

{% block content %}
    <div class="row d-flex  ">
        
        <h1 class="ms-5 mt-5 mb-3">Name: {{ plant.name  }}</h1>
        <div class="col-lg-6 d-flex   ">
            <div class=" ms-5 d-flex">
                <div>
                    <img class="mb-1 border border-3 border-dark img-thumbnail" src="{{plant.image.url}}" alt="plant image">
                </div>
                <div class="ms-3">
                    <h5>About:</h5>
                    <p>{{ plant.about }}</p>
                    <h5>Uesd for:</h5>

                    <p>{{ plant.used_for }}</p>
                </div>
                
            </div>
        </div>
        <div class="ms-5 mt-2">
        <h6>Created at: {{plant.created_at}}</h6>
        <h6>categore: {{ plant.categore }}</h6>
        <h6>is edible?: {{ plant.is_edible }}</h6>
        
        <div class="d-flex gap-2 mt-3 mb-3 align-items-center ">
            <a href="{% url 'favorites:add_remove_favorites_view' plant.id %}" class="text-decoration-none"><i class="bi {% if is_favored %} bi-heart-fill text-danger {% else %} bi-heart {% endif %} favorite"></i></a>
            {% if request.user.is_staff %}
            <a href="{% url 'main:update_plant_view' plant.id %}" class="btn bg-success text-white">update</a>
            <a href="{% url 'main:delete_plant_view' plant.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
       
    <div class="row g-5">

        {% for plant in related_plants %}
            <div class="col-4">
                <div class="d-flex flex-column gap-2 border border-1 shadow p-3 rounded-4 w-100">
                    <img src="{{ plant.image.url }}"  class="w-100 rounded-4 card-poster "/>
                    <h6 class="cat pt-1 pb-1 ps-3 pe-3 rounded-pill {{plant.category}} ">{{ plant.categore }}</h6>
                    <h6 class="text-muted">{{ plant.created_at }}</h6>
                    <h2><a href="{% url 'main:plants_details' plant.id  %}" class="text-decoration-none">{{plant.name}}</a></h2>   
                </div>
            </div>
            
        {% endfor %}
    <div class="col">

    </div>
    </div>
    

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                {% if request.user.is_authenticated %}

                <form action="{% url 'main:add_comment_view' plant.id %}" method="POST">
                    {% csrf_token %}
                    <textarea name="content" class="form-control mb-3" placeholder="Your comment"></textarea>
                    <input type="submit" value="Add Comment" class="btn bg-success text-white">
                </form>
                {% else %}
                <div class="alert alert-warning">You must <a href="{% url 'accounts:login_page' %}">Sign in</a> to comment.</div>
                {% endif %}
            </div>
        </div>
        <div class="row  d-flex justify-content-center">

            <div class="col-md-8">

                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h5>comments({{comments.count}})</h5>

                    
                </div>


                <div class="row" id="commentsDiv">
                    <div class="col d-flex flex-column gap-4">
            
                        {% for comment in comments %}
                            <div class="d-flex flex-column gap-2 shadow p-3 ">
                                <a href="{% url 'accounts:user_profile' comment.user.username %}" class="text-decoration-none"><h4>{{ comment.user.username }}</h4></a>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
            
                    </div>
                </div>
               


                
            </div>
            
        </div>
        
    </div>
    
{% endblock %}