{% extends 'main/base.html' %}

{% block content %}
    <div class="row d-flex  ">
        
        <h1 class="ms-5 mt-5 mb-3">Name: {{ plant.name  }}</h1>
        <div class="col-lg-6 d-flex   ">
            <div class=" ms-5 d-flex">
                <div>
                    <img class="mb-1 border border-3 border-dark img-thumbnail" src="{{plant.image.url}}" alt="plant image">
                </div>
                <div class="ms-3">
                    <h5>About:</h5>
                    <p>{{ plant.about }}</p>
                    <h5>Uesd for:</h5>

                    <p>{{ plant.used_for }}</p>
                </div>
                
            </div>
        </div>
        <div class="ms-5 mt-2">
        <h6>Created at: {{plant.created_at}}</h6>
        <h6>categore: {{ plant.categore }}</h6>
        <h6>is edible?: {{ plant.is_edible }}</h6>

        <div class="d-flex gap-2 mt-3 mb-3 ">
            <a href="{% url 'main:update_plant_view' plant.id %}" class="btn bg-success text-white">update</a>
            <a href="{% url 'main:delete_plant_view' plant.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
       
    

    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <form action="{% url 'main:add_comment_view' plant.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="full_name" class="form-control mb-3">
                    <textarea name="content" class="form-control mb-3"></textarea>
                    <input type="submit" value="Add Comment" class="btn bg-success text-white">
                </form>
            </div>
        </div>
        <div class="row  d-flex justify-content-center">

            <div class="col-md-8">

                <div class="headings d-flex justify-content-between align-items-center mb-3">
                    <h5>comments({{comments.count}})</h5>

                    
                </div>


                {% for comment in comments %}

                <div class="card p-3 mb-2 overflow-x-hidden">

                    <div class="d-flex justify-content-between align-items-center">

                  <div class="user d-flex flex-row align-items-center">

                    <span><small class="font-weight-bold text-primary">{{ comment.full_name }}</small> <small class="font-weight-bold">{{ comment.content }}</small></span>
                      
                  </div>


                  <small>{{comment.created_at}}</small>

                  </div>
                                          
                </div>

                {% endfor %}

                
            </div>
            
        </div>
        
    </div>
    
{% endblock %}