{% extends "main/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <main class="m-5">
        <div class="row">
            <div class="col m-5">
                <form class="d-flex flex-column align-items-center shadow bg-dark p-4 signUp rounded-4 gap-3" action="{% url 'accounts:login_view' %}" method="post">
                    {% csrf_token %}

                    <input type="text" class="form-control w-50" name="username" placeholder="Enter Your Username" minlength="3" required>
                    <input type="password" class="form-control w-50" name="password" placeholder="Enter Your Password" minlength="6" required>

                    <input type="submit" class="btn btn-outline-success w-50" value="Login">

                    {% if msg %}
                        <p class="text-danger">{{ msg }}</p>
                    {% endif %}
                    <a class="text-white text-decoration-underline" href="{% url 'accounts:sign_up_view' %}">You Don't Have an Account?</a>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}