{% extends 'main/base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Update Profile</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="about" class="form-label">About</label>
                    <textarea class="form-control" id="about" name="about">{{ request.user.profile.about }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="instagram_link" class="form-label">Instagram Link</label>
                    <input type="text" class="form-control" id="instagram_link" name="instagram_link" value="{{ request.user.profile.instagram_link }}">
                </div>
                <div class="mb-3">
                    <label for="linkedin_link" class="form-label">LinkedIn Link</label>
                    <input type="text" class="form-control" id="linkedin_link" name="linkedin_link" value="{{ request.user.profile.linkedin_link }}">
                </div>
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar</label>
                    <input type="file" class="form-control" id="avatar" name="avatar">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
