{% extends 'main/base.html' %}

{% block title %}{{user_info.username}} Profile{% endblock %}

{% block style %}
<style>

    .user-profile {
          margin-bottom: 1rem;
        }

    .user-profile table {
        margin-top: 50px;
        border-collapse: collapse;
        width: 1000px;
    }

    .user-profile th,
    .user-profile td {
          border: 1px solid #9b9b9b9c;
          padding: 0.6rem;
          text-align: center;
        }

    .user-profile th {
        width: 150px;
        color: aliceblue;
        background: linear-gradient(#0d3819, #0a2d0d, #08220b, #051606, #030b02);
    }

    .user-profile td {
        width: 250px;
    }
    
</style>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row" style="margin-top: 100px;">
    <h1>{{ user_info.username }}'s Profile: </h1>

    <div class="col-3">
        <img src="/static/images/avatar.webp" width="200px" height="200px"/><br>
        <!-- <h5>@{{user_info.username}}</h5> -->
    </div><!--col 1-->

    <div class="col-6 mt-3">
      <div class="d-flex flex-column justify-content-center mt-3">
        <!-- <h3>{{user_info.first_name}} {{ user_info.last_name}}</h3>
        <a href="mailto:{{user_info.email}}">{{ user_info.email }}</a> -->
        <table class="user-profile">
          <tbody>
            <tr>
              <th>Username:</th>
              <td>@{{ user_info.username }}</td>
            </tr>
            <tr>
              <th>Full Name:</th>
              <td>{{ user_info.first_name }} {{ user_info.last_name }}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td><a href="mailto:{{user_info.email}}">{{ user_info.email }}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!--col 2-->

  </div><!--END Row-->

  <div class="container">
    <div class="row mt-5">
      <h2>{{user_info.username}}'s Comments</h2>
        <hr>
        {% for comment in user_info.comment_set.all %}
        <div class="col mt-2">
            <div class="d-flex flex-column border border-1 shadow p-3 rounded-4 h-100" style="width: 300px;">

                <a href="{% url 'main:plant_detail' comment.plant.id %}#comments" style="color: darkgreen; text-decoration: none;">Plant: <strong>{{comment.plant.name}}</strong></a>
                <p class="mt-3">{{ comment.content }}</p>
                <h6 class="text-muted">{{ comment.created_at }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</div>
{% endblock %}