{% extends 'main/base.html' %}

{% block title %}Register New User{% endblock %}

{% block content %}

    <h1 class="text-center mt-5 mb-5">Register</h1>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form action="{% url 'accounts:register_page' %}" enctype="multipart/form-data" method="post" class="d-flex flex-column gap-3 w-25 ">
                {% csrf_token %}

                <input name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" />
                <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" />
                <input name="email" class="form-control" type="email" minlength="3" required placeholder="Email" />                
                <input name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />
                <textarea name="about" class="form-control" placeholder="about yourself"></textarea>
                <input name="instagram_link" class="form-control" type="text"   placeholder="@instagram link" />
                <input name="linked_link" class="form-control" type="text"  placeholder="@linkedin link" />
                <h4>Choose Avatar:</h4>
                <input type="file" class="form-control" name="avatar" />

                <input type="submit" class="btn bg-success text-white" value="Sign Up" />
                {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}

            </form>
        </div>
    </div>
{% endblock %}