{% extends "main/base.html" %}

{% block title %}Profile{% endblock  %}

{% block content %}
 
<div class="row m-4">

    <div class="col d-flex justfy-content-">
        <img src="{{user.profile.avatar.url}}" alt="" class="w-50">
    </div>

    <div class="col-5 d-flex flex-column justfy-content-center">
        <h1>{{user.first_name}} Pofile</h1>
        <div class="d-flex gap-3">
            <h6>user name :</h6>
            {{user.username}}
        </div>
        <div class="d-flex gap-3">
            <h6>first name:</h6>
           {{user.first_name}}
        </div>
        <div class="d-flex gap-3">
            <h6>last_name:</h6>
            {{user.last_name}}
        </div>
        <div class="d-flex gap-3">
            <h6>about:</h6>
            {{user.profile.about}}
        </div>
        <div class="d-flex gap-3">
            {{profile.user.avatar.url}}
        </div>
         <div class="d-flex gap-3">
            <h6>twitter:</h6>
            <a href="{{user.profile.twitter}}" target=_blank>{{user.profile.twitter}}</a>
        </div>
        <div class="d-flex gap-3">
            <h6>linkedin:</h6>
            <a href="{{user.profile.linkedin}}" target=_blank>{{user.profile.linkedin}}</a>
        </div>
        <div class="d-flex gap-3">
            <h6>Email:</h6>
            {{user.email}}
        </div>
        {% if request.user == user %}
        <a href="{% url "accounts:update_profile" user.username %}" class="btn btn-success">Update</a>
        {% endif %}
    
    </div>


</div>


{% endblock %}