{% extends 'plants/base.html' %}
{% load static %}
{% block title %} Plant detail {% endblock %}

{% block content %}
<section>
    <div class="container mt-5 px-5">  
        <div class="row g-5">
            <div class="col">
                <h2>{{ plant.name }} plant details</h2>
                <div class="row my-3">
                    <div class="col-md-4 mb-4">
                        <img src="{{ plant.image.url }}" class=" w-100 h-100 object-fit-cover rounded-4" alt="plant">
                    </div>
                    <div class="col-md-8">
                        <h2>{{ plant.name }}</h2>
                        <div class="row my-3">
                            <div class="col-4">
                                <label class="form-label">Category:</label>
                                <span style="font-size: 20px; padding-left: 5px;">{{ plant.category }}</span>
                            </div>
                            <div class="col-4">
                                <label class="form-label">Is Edible:</label>
                                <span style="font-size: 20px; padding-left: 5px;">{% if plant.is_edible == True %} Edible {% else %} Not Edible {% endif %}</span>
                            </div>
                            <div class="col-4">
                                <label class="form-label">Native to:</label>
                                <span style="font-size: 20px; padding-left: 5px;">{{ plant.native_to }}</span>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12">
                                <label class="form-label">Brief about {{ plant.name }}:</label>
                                <p style="font-size: 20px; padding-left: 5px;">{{ plant.about }}</p>
                            </div>
                        </div>
    
                        <div class="row my-3">
                            <div class="col-12">
                                <label class="form-label">Used for:</label>
                                <p style="font-size: 20px; padding-left: 5px;">{{ plant.used_for }}</p>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-12 d-flex gap-2">
                                <a href="{% url 'plants:update_plant_view' plant.id %}" class="btn btn-warning w-100 ">Update</a>
                                <a href="{% url 'plants:delete_plant_view' plant.id %}" class="btn btn-danger w-100 ">Delete</a>                                
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container  mt-5 px-5">
        <div class="row">
            <hr/>
            <h2>Comments</h2>
            <div class="col-12 col-md-8 all-comments mb-3">
              
                    {% for comment in comments %}
                       
                            <div class="border rounded-4 mt-2 mb-3 d-flex flex-column p-3">
                                <div class="d-flex align-items-center gap-2" id="commentDetail">
                                    <img src="{% static 'images/user.png' %}" alt="" width="40" height="40">
                                    <h4 class="pt-3">{{ comment.full_name }}</h4>
                                </div>
                                <p class="com-date">{{comment.comment_date}}</p>
                                <p class="com-p">{{ comment.content }}</p>
                            </div>  
                       
                    {% endfor %}
            </div>

            <div class="col-12 col-md-4 mt-2 gap-2 new-com p-5 rounded-4">
                <form action="{% url 'plants:add_comment_view' plant.id %}" method="POST" id="commentDetail" >
                    {% csrf_token %}

                    <div class="d-flex flex-column">
                        <h4 class="text-center mb-3">Share your comment</h4>
                        <label for="name">Name</label>
                        <input name="full_name" id="fullname" type="text" class="form-control mt-1"/>
                    </div>
                    <div class="mt-3">
                        <label for="message">Message</label>
                        <textarea name="content" class="form-control mt-1 "></textarea>
                    </div>
                    <div class="mt-4">
                        <input type="submit" class="btn btn-warning w-100" value="Post Comment" />
                    </div>
                </form>         
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container mt-5 px-5">
        <div class="row g-5">
            <hr/>
            <h2>Related Plants</h2>
            {% for plant in related_plants %}
                <div class="col-12 col-md-4">
                    <div class="card rounded-4">
                        <div class="card_image">
                        <span class="note rounded-pill {{plant.category}}">{{ plant.category }}</span>
                        <img src="{{ plant.image.url }}" alt="plant image" />
                        <span class="card_price rounded-pill {{plant.is_edible}}">{% if plant.is_edible == True %} Edible {% else %} Not Edible {% endif %}</span>
                        </div>
                        <div class="card_content mt-3">
                            <h2 class="card_title">{{plant.name}}</h2>
                            <p class="card_text">{{ plant.about }}</p>
                            <p><a href="{% url 'plants:plant_detail_view' plant.id  %}" class="text-decoration-none know-more">Know more...</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}