{% extends 'main/base.html' %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <div class="row">
        <div class="col">
            <form action="{% url 'main:contact' %}" method="POST">
                {% csrf_token %}

                <input name="first_name" type="text" placeholder="first name" class="form-control" required>
                <input name="last_name" type="text" placeholder="last name" class="form-control" required>
                
                <input name="email" type="email" placeholder="email@example.com" class="form-control" required minlength="5" onclick="document.querySelector('a[href=\'mailto:email@example.com\']').click();" />
                <textarea name="message" type="text" placeholder="message" class="form-control" required></textarea>

                <input type="submit" class="btn btn-primary" value="Sent Message" />

            </form>
        </div>
    </div>
</div>

{% endblock content %}