{% extends 'main/base.html' %}

{% block title %} {{profil.username}} profile {% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1>{{profil.username}} Profile</h1>

            <div class="row">
                <div class="col-3">

                    <img src="" class="avatar w-100" />
                    <h5>@{{profil.username}}</h5>

                </div>

                <div class="col">

                    <div class="d-flex flex-column">
                        <h3>{{profil.first_name}} {{profil.last_name}}</h3>
                        <a href="mailto:{{profil.email}}">{{ profil.email }}</a>
                    </div>

                </div>
            </div>
    </div>        
</section>
{% endblock %}