{% extends 'main/base.html' %}

{% block title %}Update your profile{% endblock %}

{% block content %}
<section>
    <div class="container">
            <h1>Update your profile</h1>
            <div class="row">
                <div class="col">
                    <form action="{% url 'accounts:register_user' %}" method="post" class="d-flex flex-column gap-2">
                        {% csrf_token %}

                        <input name="username" class="form-control" type="text" minlength="3" required placeholder="Username" />
                        <input name="first_name" class="form-control" type="text" minlength="3" required placeholder="First Name" />
                        <input name="last_name" class="form-control" type="text" minlength="3" required placeholder="Last Name" />
                        <input name="email" class="form-control" type="email" minlength="3" required placeholder="Email" />

                        <textarea name="about" class="form-control" placeholder="about yourself"></textarea>
                        <input name="instagram_link" class="form-control" type="text"   placeholder="@instagram link" />
                        <input name="linked_link" class="form-control" type="text"  placeholder="@linkedin link" />

                        <h4>Choose Avatar:</h4>
                        <input type="file" class="form-control" name="avatar"/>
                        <input name="password" class="form-control" type="password" minlength="6" required placeholder="Password" />



                        <input type="submit" class="btn btn-primary" value="Update" />

                    </form>
                </div>
            </div>
    </div>
</section>
{% endblock content %}