*{
  font-family: 'Times New Roman', Times, serif;
}




.hero {
    height: 400px;
    object-fit: flex;
}

p {
    white-space: pre-line;
}

.cat {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    align-self: flex-start;
}



.thumb {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 15px;
}
/* حقت السيرش */
body {
    margin-top: 5rem;
  }
  
  ul {
    list-style-type: none;
  }
  /* test */
  .con{
    display: flex;
    justify-content: center;
    
  }
  /* الصوره  */
  .logo2{
    display:flex;
    background-size: cover;
    position: relative;
    width: 70vw;
    height: 70vh;
    
  }
  .logo12{
   position:relative; 
   display:flex;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 17vw;
   background-color:rgba(255, 255, 255, 0);
   color: #f1f1f1;
   margin-top: -400px;
   margin-left: 150px;
   margin-right: 150px;
  }
  
  .rahaf .li a{
background-color:blue;
  }
  
  /* Navbar */
#navbarNav{
  justify-content: center;
}

.navbar-nav{
  flex-direction: column;
  text-align:center;
  justify-content:center;
  column-gap: 30px;
}

.navbar{
    transition: all 0.5s;
}

.navbar-nav a {
  font-weight: bold;
  color: #000;
}
.navbar-nav a:hover {
  color: #0e7717ce;
}

.navbar-scrolled{
  background-color: rgba(119, 119, 119, 0.596);
  box-shadow:rgba(0, 0, 0, 0.15);
}

.navbar-scrolled a{
color: #3a3a3a;
}

