body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    transition: transform 0.3s; 
}

.post:hover {
    transform: scale(1.05); 
}

.post h2 {
    margin-bottom: 10px;
}

.post p {
    color: #666;
}

.add-plant-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0163cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.add-plant-link:hover {
    background-color: #0056b3;
}
.my-header {
    background-color: #e9e9e9;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}


.my-footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


.add-post-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.add-post-link:hover {
    background-color: #0056b3;
}
.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.back-button {
    padding: 10px 20px;
    background-color: #ccc;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #999;
}
.plant-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    transition: transform 0.3s; 
    padding: 15px;
}

.plant-box:hover {
    transform: scale(1.05); 
}

.plant-image {
    width: 30%;
    padding: 20px;
}

.plant-image img {
    max-width: 100%;
    height: 250px;
    border-radius: 5px;
}

.post-details {
    flex-grow: 1;
    padding: 20px;
}

.read-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.read-more-button:hover {
    background-color: #0056b3;
}

.post-image {
    max-width: 200px; 
    height: auto; 
}
.current_image{
    width: 200px; 
    height: 200px; 
}

.card-img-top{
    height: 350px; 
    width: 200px;
}
.img-thumbnail{
    height: 500px; 
    width: 750px;
    align-items: center;
}
.card{
    height: 600px;
}
.comm{
    padding-left: 40px;
}
/*--------------------------------------------------------------*/
.custom-card {
    background-image: url('{% static "image/oranges.jpg" %}'); 
    background-size: cover; 
    background-position: center; 
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-card-body {
    display: flex;
    justify-content: center;
}

.custom-row {
    display: flex;
}

.custom-col {
    flex: 1;
}

.custom-form {
    display: flex;
    align-items: center;
}

.custom-form-label {
    margin-right: 10px;
}

.custom-form-control {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

.custom-btn {
    margin-left: 10px;
}

.custom-btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.custom-btn-primary:hover {
    background-color: #0056b3;
}

/*--------------------------------------------------------------*/
.pagination {
    margin-top: 20px;
    justify-content: center;
}
